.calendar {
  width: 21rem;
  height: 27rem;
}

.header-calendar {
  display: flex;
  flex-direction: column;
}

.month-select-calendar {
  height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
}

.days-calendar {
  display: grid;
  height: 3rem;
  width: 21rem;
  grid-template-columns: 3rem 3rem 3rem 3rem 3rem 3rem 3rem;  
  grid-template-rows: 3rem;
 }

.days-calendar span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.body-calendar {  
  height: 18rem;
  width: 21rem;
  overflow-y: hidden;
}

.numbers-of-calendar {
  position: relative;
  top: -3rem;
  display: grid;
  grid-template-columns: 3rem 3rem 3rem 3rem 3rem 3rem 3rem;  
  grid-template-rows: 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem;  
}

.number-of-day{
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 1s;
}

.number-of-day:hover{
  border: 0.1rem solid #000;
}

@keyframes move-up {
  from {
    translate: 0 3rem;
  }
  to{
    translate: 0 0;
  }
}

@keyframes move-down {
  from {
    translate: 0 -3rem;
  }
  to{
    translate: 0 0;
  }
}

@keyframes move-up-1 {
  from {
    translate: 0 3rem;
  }
  to{
    translate: 0 0;
  }
}

@keyframes move-down-1 {
  from {
    translate: 0 -3rem;
  }
  to{
    translate: 0 0;
  }
}